@media screen and (max-width: 1199px) {
    .business {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .business__item {
        flex-basis: calc((100% - 60px)/3);
        position: relative;
    }

    .business__list {
        display: flex;
        gap: 30px;
    }

    .business__subtittle {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--main-letter-color);
        background-color: rgba(47, 48, 58, 0.8);
    }
}