.clients__list {
    @extend %align;
    gap: 30px;
}

.clients__icon {
    fill: currentColor;
}

.clients__link {
    @extend %align;
    width: 170px;
    height: 92px;
    ;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
    }
}