@media screen and (max-width: 767px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        row-gap: 15px;
        margin-bottom: 40px;
    }

    .portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .project-cards {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
}

@media screen and (min-width: 768px) {
    .portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .project-container {
        display: flex;
        gap: 8px;
        justify-content: center;
        margin-bottom: 30px;
    }

    .project-cards {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .project-cards__item {
        flex-basis: calc((100% - 30px)/2);
    }

    .project-cards__link {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .project-cards__border {
        flex-grow: 1;
    }
}

@media screen and (min-width: 1200px) {
    .project-container {
        display: flex;
        gap: 8px;
        justify-content: center;
        margin-bottom: 50px;
    }

    .project-cards {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .project-cards__item {
        flex-basis: calc((100% - 60px)/3);
    }

    .project-cards__link {
        display: block;
    }
}

.project-container__button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--background-team-color);
    color: var(--primery-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-container__button:hover,
.project-container__button:focus {
    background-color: var(--accent-color);
    color: var(--main-letter-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



.project-cards__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
}

.project-cards__border {
    border: 1px solid #EEE;
    border-top: none;
    padding: 20px 24px;
}

.project-cards__subtitle {
    line-height: 1.88;
    color: var(--secondery-text-color);
    font-size: 16px;
}

.project-cards__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-cards__link:hover,
.project-cards__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-cards__thumb {
    position: relative;
    overflow: hidden;
}

.project-cards__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--main-letter-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    overflow: auto;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .project-cards__link:hover &,
    .project-cards__link:focus & {
        transform: translateY(0%);
    }
}