@media screen and (max-width:767px) {
    .team__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (min-width:768px) {
    .team__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .team__item {
        flex-basis: calc((100% - 30px)/2);
    }
}

@media screen and (min-width:1200px) {
    .team__list {
        display: flex;
        gap: 30px;
    }

    .team__item {
        flex-basis: calc((100% - 90px)/4);
    }
}

.team {
    background-color: var(--background-team-color);
}

.team__item {

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__proffession {
    line-height: 1.71;
    color: var(--secondery-text-color);
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.team__card {
    padding: 30px 0;
    text-align: center;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.social-list__item {
    width: 44px;
    height: 44px;
}

.social-list__link {
    @extend %align;
    height: inherit;
    border-radius: 50%;
    background-color: var(--main-letter-color);
    color: var(--icon-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--main-letter-color);
    }
}

.social-list__icon {
    fill: currentColor;
}