.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    @extend %align;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: var(--main-letter-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        fill: var(--accent-color);
    }
}

@media screen and (max-width:1199px) {
    .modal {
        width: 450px;
        height: 609px;
    }
}

@media screen and (max-width: 460px) {
    .modal {
        width: 300px;

    }
}