:root {
    --primery-text-color: #212121;
    --secondery-text-color: #757575;
    --accent-color: #2196F3;
    --background-footer-color: #2F303A;
    --background-team-color: #F5F4FA;
    --main-letter-color: #FFFFFF;
    --logo-color: #000000;
    --letter-color: rgba(255, 255, 255, 0.6);
    --background-btn-color: #188CE8;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --icon-color: #AFB1B8;
}